@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply relative bg-background font-roboto text-base font-normal text-body;
    }
}

@layer components {}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
